* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f8f9fd;
    color: #333;
}

/* Sidebar */
.sidebar {
    width: 320px;
    height: auto;
    margin: 5px;
    background: linear-gradient(180deg, #7f5cff, #a38bff);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px 0px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    margin: 0px 0px 0px 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
}

.sidebar ul li a img {
    margin-right: 5px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: rgba(255, 255, 255, 0.2);
}

.sidebar .logout {
    margin-top: auto;
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main content */
.main-content {

    height: 99vh;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    padding: 20px;
}

.header {
    backdrop-filter: blur(3px);
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    margin-right: 10px;

}

.header input {
    width: 300px;
    padding: 8px;
    color: #333;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.header input::placeholder {
    color: rgb(0, 0, 0);
    /* Change this to your desired color */
    opacity: 1;
    /* Make sure it’s fully visible */
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.notification,
.courses {
    margin-top: 20px;
}

.dashboard-scroll {
    margin-top: 50px;

}

.cards {

    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
}

.card {
    display: inline-block;
    background: #fff;
    margin: 0px 20px;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.enrolled {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.enrolled .course-card {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.enrolled button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #7f5cff;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.enrolled button:hover {
    background: #6347ff;
}

.personalinfo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.personalinfo .course-card,
.personalinfo .issue-contaner {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

#personal {
    margin-top: 50px;
}

.inner-course {
    padding: 11px;
    background-color: #b164ff;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.inner-course span {
    color: #ffc805;
    margin-left: 4px;
}

.inner-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inner-table table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

.inner-table td,
th {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.inner-table table th {
    background-color: #b64cff;
    color: white;
}

.inner-table table tr:nth-child(even) {
    background-color: #cba7ff;
    ;
}

.input-contaner {
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #df48ff;
}

input::placeholder {
    color: rgb(255, 255, 255);
    /* Change this to your desired color */
    opacity: 1;
    /* Make sure it’s fully visible */
}

.button-cont {
    margin-top: 5px;
    padding: 5px;
    border: none;
    background-color: #b327ff;
    border-radius: 4px;
    color: white;
}

.button-cont:hover {
    background-color: #b64cff;
    cursor: pointer;
}

.issue-button {
    padding: 5px;
    border: none;
    background-color: #b327ff;
    border-radius: 4px;
    color: white;
}

.issue-button-excel {
    margin-top: 30px;
    padding: 5px;
    border: none;
    background-color: #b327ff;
    border-radius: 4px;
    color: white;
}

.issue-button:hover, .issue-button-excel:hover {
    background-color: #b64cff;
    cursor: pointer;
}

/* ---------------------Form Styling------------------------ */


.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 0.5px rgb(133 0 255 / 75%);

}


.form-card {
    flex: 1;


    gap: 20px;

    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(132, 0, 255, 0.05);
    flex-direction: row;
    align-content: center;
    align-items: center;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

input:focus,
select:focus {
    border-color: #8b0cff;
    outline: none;
}

.sub-btn {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.submit-btn {
    background: #8b0cff;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background: rgb(133 0 255 / 75%);
    ;
}

.overflowy {
    overflow-y: auto;
    height: 250px;
}

#password {
    width: 91%;
}

#toggletext {
    padding: 10px;
    border: 1px solid #de75ff;
    background-color: #d857ff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s background-color;
}

#toggletext:hover {
    background-color: #df74ff;
    cursor: pointer;
}


/* ------------------responisive------------------------- */

.toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    display: none;

}

.toggle_btn i {
    color: black;
}

.dropdown_manue {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgb(104 0 255 / 54%);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_manue.open {
    height: 517px;
}

.dropdown_manue li {
    padding: 0.7rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_manue a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    align-items: center;
}

.dropdown_manue li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff00fb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

.dropdown_manue li a:hover::after {
    width: 100%;
}

@media(max-width: 720px) {
    .sidebar {
        display: none;
    }

    .profile {
        display: none;
    }

    .header .toggle_btn {
        display: block;
    }

    .header .dropdown_manue {
        display: block;
    }



    /* .col1,
            .col2 {
                flex-basis: 80%;
            } */
}

@media(max-width:576px) {
    /* .form-container {
                background: #fff;
                padding: 30px;
                border-radius: 12px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
                width: unset;
            } */

    .header .dropdown_manue {
        left: 2rem;
        width: unset;
    }

}

.get_prn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GetEmployee {
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #de75ff;
    font-weight: bold;
    transition: 0.3s background-color;

}

.GetEmployee:hover {
    background-color: #da65fe;

}

.input-EmpId {
    cursor: pointer;
    width: auto;
    padding: 5px;
    color: black;
    background-color: #df48ff;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}

/* search bar  */
.search-container {
    position: relative;
    width: 300px;
}

.suggestions-box {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.input-EmployeeId {
    cursor: pointer;
    width: auto;
    padding: 5px;
    color: black;
    background-color: #df48ff;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}

.requester_type {
    cursor: pointer;
    width: auto;
    padding: 5px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}